@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #222222;
}

@keyframes terminal-glitch {
  0% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 1.2);
  }
  100% {
    transform: scale(1.2, 1);
  }
}
.terminal-glitch {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, 0.1);
  background: radial-gradient(ellipse at center, #011f01 0%, black 100%);
  transform-origin: 50% 50%;
  transform: scale(1.03);
  animation: terminal-glitch 0.1s linear infinite;
  opacity: 0.4;
  position: fixed;
  z-index: -1;
}

.terminal {
  position: absolute;
  z-index: 1;
  padding: 15px;
  top: 4%;
  right: 0%;
  bottom: 4%;
  left: 2%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid;
  border-bottom-color: #0fce28;
  border-left-color: #000000;
  border-right-color: #050505;
  border-top-color: #0fce28;
  box-shadow: inset 0 0 10rem #020202, inset 0 0 3rem black, 0 0 10rem black;
}
.terminal::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #055005;
}
.terminal::-webkit-scrollbar {
  width: 10px;
  background-color: lighter(#055005, 50%);
}
.terminal::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 5px black;
  background-color: #444;
}
@keyframes type {
  from {
    width: 0ch;
  }
  to {
    width: 54ch;
  }
}
.terminal p {
  font-size: 22px;
  margin: 1px 0;
  white-space: nowrap;
  overflow: hidden;
  animation: type 2.5s steps(60, end) backwards;
  color: #06b306;
  font-family: "VT323", monospace;
}
.terminal p:nth-child(1) {
  animation-delay: 2.5s;
}
.terminal p:nth-child(2) {
  animation-delay: 5s;
}
.terminal p:nth-child(3) {
  animation-delay: 7.5s;
}
.terminal p:nth-child(4) {
  animation-delay: 10s;
}
.terminal p:nth-child(5) {
  animation-delay: 12.5s;
}
.terminal p:nth-child(6) {
  animation-delay: 15s;
}
.terminal p:nth-child(7) {
  animation-delay: 17.5s;
}
.terminal p:nth-child(8) {
  animation-delay: 20s;
}
.terminal p:nth-child(9) {
  animation-delay: 22.5s;
}
.terminal p:nth-child(10) {
  animation-delay: 25s;
}
.terminal p:nth-child(11) {
  animation-delay: 27.5s;
}
.terminal p:nth-child(12) {
  animation-delay: 30s;
}
.terminal p:nth-child(13) {
  animation-delay: 32.5s;
}
.terminal p.break {
  margin: 1px 0 15px 0;
}

:root {
  --main-background: #0b0c0f;
  --main-fonts-color: #fff;
  --main-decor-color: #04a50c;
  --main-header-background: #21252e;
  --main-font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--main-background);
}

/*──────────────────
       home
──────────────────*/
#home {
  margin: auto;
  height: 100vh;
  color: var(--main-fonts-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#home .filter {
  background: url("") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
}

.intro {
  text-align: center;
  color: var(--main-fonts-color);
  z-index: 1;
  margin: auto;
  padding: 20px;
}

.intro p {
  margin: 5px;
  font-size: 1.2rem;
  font-family: var(--main-font-family);
  text-align: center;
}

h3 {
  padding-bottom: 15px;
  letter-spacing: normal;
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 60px;
  color: var(--main-fonts-color);
  text-shadow: 0px 0px 40px var(--main-decor-color);
}

/*──────────────────
    social media
──────────────────*/
.social-media {
  padding: 10px;
  display: flex;
  position: center;
  align-items: space-around;
  justify-content: center;
}

.social-media a {
  margin: 10px;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  color: var(--main-fonts-color);
}

.social-media a i {
  cursor: pointer;
}

.social-media a:hover {
  color: var(--main-decor-color);
  text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      projects
──────────────────*/
#projects {
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--main-fonts-color);
}

#projects h3 {
  padding-top: 70px;
}

#projects p {
  padding: 5px;
  background: transparent;
  border: 2px solid #00dd00;
  clear: both;
  color: #00dd00;
  display: inline-block;
  font-family: var(--main-font-family);
  font-size: 1.5em;
  margin-bottom: 10px;
  opacity: 0.5;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 10;
}

.clear {
  clear: both;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.upper {
  text-transform: uppercase;
}

.work {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 280px;
  height: 540px;
  background: transparent;
  border: 1px solid #05ac0d;
  clear: both;
  display: inline-block;
}

.card img {
  width: 100%;
  height: 60%;
  border-radius: 3px 3px 0px 0px;
}

.card .work-content {
  text-align: left;
  padding: 10px 5px;
  font-size: 0.9rem;
  color: var(--main-fonts-color);
  font-family: var(--main-font-family);
}

.card-title {
  font-size: 1.2rem;
  padding: 10px 0px;
}

.card a {
  color: var(--main-fonts-color);
}

.card a i {
  cursor: pointer;
}

.card a:hover {
  color: var(--main-decor-color);
  text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      Contact
──────────────────*/
#contact {
  margin: auto;
  padding-bottom: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-fonts-color);
}

#contact p {
  padding: 10px;
  color: #00dd00;
  opacity: 0.5;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--main-font-family);
}

/*────────────────── 
       footer
──────────────────*/
footer {
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
}

.copyright {
  color: #00dd00;
  opacity: 0.5;
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
}

/*──── hr ─────*/
hr {
  background: var(--main-decor-color);
  margin: 2px;
  height: 3px;
  width: 150px;
  border-radius: 5px;
  border: hidden;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar {
  width: 5px;
  background: #050505;
}

::-webkit-Scrollbar-thumb {
  border-radius: 10px;
  background: var(--main-decor-color);
  box-shadow: inset 0 0 20px var(--main-decor-color);
}

::-webkit-Scrollbar-track {
  margin-top: 80px;
  border-radius: 10px;
}


